
\.metadata/

\.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/

\.recommenders/caches/

Compete/June Challenge 2017/\.recommenders/

Compete/June Challenge 2017/

Compete/JuneChallenge2017/\.recommenders/

Compete/JuneChallenge2017/CLONEME/

Practice/Beginner/\.recommenders/
